<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="css/cosmo.bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="css/bootstrap-theme.min.css"/>-->
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-cloak>
<div class="container">
    <nav class="navbar navbar-default" ng-controller="NavbarController">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/EventDetails.html">Event Details</a></li>
                <li><a href="/EditProfile.html">{{isUser ? "Edit Profile" : "Create Profile"}}</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div ng-hide="isUser">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" ng-model="userName" required>
                        <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="signIn(userName, password)">Sign In</button>
                </div>
                <div ng-show="isUser">
                    <img ng-src="{{getNavGravatarUrl(currentUser.emailAddress)}}" alt="profile image for {{currentUser.emailAddress}}" ng-show="isUser" />
                    <button type="button" class="btn btn-primary" ng-show="isUser" ng-click="signOut()">Sign Out</button>
                </div>
            </form>
        </div>
    </nav>
    <div class="container-fluid" ng-controller="EditProfileController">
        <form name="profileForm">
            <div class="row-fluid">
                <div class="col-md-3">
                    <img ng-src="{{getGravatarUrl(user.emailAddress)}}" alt="profile image for {{user.emailAddress}}" />
                </div>
                <div class="col-md-3">
                    <fieldset>
                        <div class="form-group">
                            <label for="userName">User Name:</label>
                            <input focus id="userName" class="form-control"  required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Username" ng-model="user.userName" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input id="password" class="form-control" required type="password" placeholder="Password" ng-model="user.password" />
                        </div>
                    </fieldset>
                    <div style="margin-top:15px">
                        <fieldset>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input id="name" class="form-control" type="text" placeholder="Name" ng-model="user.name" />
                            </div>
                            <div class="form-group">
                                <label for="emailAddress">Email Address:</label>
                                <input id="emailAddress" class="form-control" type="email" placeholder="Email Address" ng-model="user.emailAddress" />
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="bio">Bio:</label>
                        <textarea id="bio" class="form-control" rows="6" style="color:#52575c" placeholder="Bio" ng-model="user.bio"></textarea>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-6 col-md-offset-3">
                    <div class="pull-left"><span class="btn btn-default">Cancel</span></div>
                    <div class="pull-right"><button type="submit" class="btn btn-primary" ng-click="saveUser(user, profileForm)">Save</button></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/angular/angular-resource.js"></script>
<script type="text/javascript" src="lib/angular/angular-cookies.js"></script>
<script type="text/javascript" src="lib/underscore-min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/EditProfileController.js"></script>
<script type="text/javascript" src="js/controllers/NavbarController.js"></script>
<script type="text/javascript" src="js/services/GravatarUrlBuilder.js"></script>
<script type="text/javascript" src="js/services/CookieManager.js"></script>
<script type="text/javascript" src="js/services/UserManager.js"></script>
<script type="text/javascript" src="js/services/UserData.js"></script>
<script type="text/javascript" src="js/services/EventData.js"></script>
</body>
</html>