<div>
    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" class="event-img" />

    <div class="row">
        <div class="col-md-11">
            <h2 ng-bind-template="{{event.name | uppercase}}"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div><strong>Date:</strong> {{event.date}}</div>
            <div><strong>Time:</strong> {{event.time}}</div>
        </div>
        <div class="col-md-4">
            <strong>Address:</strong><br />
            <address>
                {{event.location.address}}<br />
                {{event.location.city}}, {{event.location.province}}
            </address>
        </div>
    </div>
    <hr />
    <h3>Sessions</h3>
    <div class="row">
        <div class="col-md-5">
            Search:
            <input ng-model="search" type="text" class="input-sm" />
        </div>
        <div class="col-md-7 text-right">
            Order By:
            <select ng-model="sortorder" class="input-sm">
                <option selected value="name">Name</option>
                <option value="-upVoteCount">UpVoteCount</option>
            </select>
            Level:
            <select ng-model="query.level" class="input-sm">
                <option selected value="">All</option>
                <option value="introductory">Introductory</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
            </select>
            Show:
            <select ng-model="limit" class="input-sm">
                <option selected>2</option>
                <option selected>5</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="row">
        <ul class="thumbnails">
            <li ng-repeat="session in event.sessions | filter:search | filter:query | orderBy:sortorder | limitTo:limit" id="session{{session.id}}">
                <div class="row session">
                    <vote upvote="upVoteSession(session)" downvote="downVoteSession(session)" count="session.upVoteCount" isUser="isUser"></vote>
                    <div class="well col-md-10">
                        <collapsible title="{{session.name}}">
                            <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
                            <span>Duration: {{session.duration | durations}}</span><br />
                            <span>Level: {{session.level}}</span><br />
                            <p>{{session.abstract}}</p>
                        </collapsible>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
